.container {
    max-width: 400px;
    min-height: 450px;
    margin: 0px auto;
    background-color: #efefef;
    padding: 15px 50px;
    box-shadow: 0 0 10px gray;
    margin-top: 15px;
}

.text-center {
    text-align: center;
}

.expense-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 0 10px gray
}

.transaction-list {
    margin: 0;
    padding: 0;
}

.transaction-list > li {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 4px;
}

.transaction-form input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

.red {
    border-right: 5px solid red;
}

.green {
    border-right: 5px solid green;
}

.green-font {
    color: green;
}

.red-font {
    color: red;
}